.cheatSheet {
  background-color: var(--n-primary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 200vh;
  width: 100%;
  :global {
    .toc {
      display: none;
    }
    section {
      h1 {
        background-color: var(--n-primary-2);
        color: var(--n-primary-5);
      }
    }
  }
}
