.FundDetailForm {
  display: flex;

  // & > div,
  // input {
  //   display: inline-flex;
  //   width: 20%;
  //   margin: 0 5px;
  // }
}

.SideBarItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  button {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
