@import './mdx-render.scss';

.layout {
  .nav {
    padding-left: 20px;
    a {
      white-space: nowrap;
      font-family: LoveIsfree, fangsong;
      font-size: large;
    }
    ol {
      padding-left: 20px;
    }
  }

  :global {
    @include mdx-render;
  }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   // filter: grayscale(50%) blur(300px);
  //   // background-image: url('https://gitee.com/nxgh/cloud-img/raw/master/FoR1WtpakAA_vd3_webp.webp');
  //   background-color: rgb(24, 22, 16);
  //   background-size: 100% 100%;
  // }
}
