.fundWrap {
  display: flex;
}
.side {
  width: 20vw;
}

.FundDetailForm {
  display: flex;
}
.FundDetailForm > div,
.FundDetailForm > input {
  display: inline-flex;
  width: 20%;
  margin: 0 5px;
}

.SideBarItem {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  align-items: center;
  cursor: pointer;
}

.SideBarItem > button {
  justify-content: center;
  display: flex;
  align-items: center;
}
