.ant-switch-checked {
  background: #f1f1f1;
}
.ant-switch {
  background: #f1f1f1;
}

.ant-switch:focus {
  outline: 0;
  box-shadow: none;
}

.ant-click-animating-node {
  box-shadow: none;
  animation: none;
  opacity: 0;
}

.ant-input-number-disabled {
  background-color: transparent;
}
