@import './variables';
@import './mdx-render';
@import './refs-layout';

@font-face {
  font-family: 'AliceInWonderland';
  src: url('/fonts/AliceInWonderland-1GzL0-2.ttf') format('truetype');
}
@font-face {
  font-family: 'loveisfree';
  src: url('/fonts/Love-is-free-2.ttf') format('truetype');
}
@font-face {
  font-family: 'LoveQueen';
  src: url('/fonts/LOVE-Queen-2.ttf') format('truetype');
}
@font-face {
  font-family: 'MissalUncialeBricks';
  src: url('/fonts/MissalUncialeBricks-1.ttf') format('truetype');
}
@font-face {
  font-family: 'MissalUncialeMaster';
  src: url('/fonts/MissalUncialeMaster-2.ttf') format('truetype');
}
@font-face {
  font-family: 'Potra';
  src: url('/fonts/Potra-2.ttf') format('truetype');
}
@font-face {
  font-family: 'TravelerTypeface';
  src: url('/fonts/Traveler-s-Typeface-2.ttf') format('truetype');
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
