.mdx-render {
  width: 100%;
  min-height: 100%;
  .mesh {
    background: linear-gradient(to right, var(--mesh-bg) var(--mesh-width), transparent var(--mesh-width)),
      linear-gradient(to bottom, var(--mesh-bg) var(--mesh-width), transparent var(--mesh-width));
    background-repeat: repeat; /* 默认为 repeat */
    background-size: var(--mesh-size) var(--mesh-size);
  }
  header.header {
    background-color: var(--background);
    color: var(--text-color);
    z-index: 1;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 26px - $i * 2px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #eaecef;
      font-family: LoveQueen, cursive;
      background: var(--header-bg);
      color: var(--header-color);
      background-clip: text;
    }
    h#{$i}::before {
      content: '$';
      margin-right: 10px;
      color: var(--link-color);
      font-weight: 300;
    }
  }
  blockquote {
    color: var(--blockquote-color);
    padding: 5px 23px;
    margin: 22px 0;
    border-left: 4px solid #5e7ce0;
    background-color: var(--blockquote-bg);
  }
  code.inline-code {
    background-color: var(--inline-code-bg);
    padding: 1px 5px;
    color: var(--inline-code-color);
    border-radius: 5px;
    display: inline-flex;
    font-size: 14px;
    font-family: var(--font-mono);
  }
  strong {
    color: var(--strong-color, inherit);
    background: var(--strong-bg, inherit);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: loveisqueen, fangsong;
    font-size: 1em;
  }
  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    // list-style-type: upper-roman;
  }
  .toc {
    position: fixed;
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
    min-width: 20vw;
    height: 100%;
    background-color: var(--background);
    opacity: 0.9;
    transition: all 0.3s;
    backdrop-filter: blur(5px);
    z-index: 10;
    font-size: 1rem;
    .toc-link-active {
      border-bottom: 1px solid var(--link-color);
      color: var(--link-color);
    }
    ol {
      list-style-type: none;
      padding-left: 10px;
      li {
        padding-left: 10px;
        a {
          font-family: loveisqueen, fangsong;
          font-weight: 900;
        }
      }
    }
  }
  &[data-toc='hide'] {
    .toc {
      left: -100%;
    }
  }

  &[data-toc='show'] {
    .toc {
      left: 0;
    }
  }

  .ch-scroll-coding-with-preview {
    .ch-scrollycoding-content {
      .ch-scrollycoding-step-content {
        height: 100%;
      }
    }
  }
}
