.full {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}
