.ch-scrollycoding.ch-scrollycoding-with-preview {
  --ch-scrollycoding-sticker-width: 100%;
  --ch-scrollycoding-code-min-height: 40vh;

  .ch-scrollycoding-content {
    .ch-scrollycoding-step-content {
      min-height: 300px;
      width: 45vw;
      max-width: 45vw;
      p code {
        background-color: var(--ant-primary-2);
        border-radius: 4px;
        padding: 2px 3px;
      }
    }
  }

  .ch-scrollycoding-sticker {
    top: 2vh;
    height: 90vh;
    max-height: 90vh;
    overflow: hidden;
    .ch-preview.ch-scrollycoding-preview {
      height: 45vh;
    }
  }
  .ch-codegroup.not-prose {
    height: 40vh;
    flex: auto;
  }
}

.framework-layout,
.blog-layout {
  table {
    width: 100%;
    thead {
      width: 100%;
      tr {
        border-bottom: 2px solid var(--ant-primary-8);
      }
    }
    tbody > tr {
      border-bottom: 1px solid var(--ant-primary-8);
      td {
        padding: 5px;
      }
    }
  }
}
