.base-layout {
  overflow: auto;
}

header.ant-layout-header.link-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ant-btn {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.docs-layout {
  .ch-scrollycoding.ch-scrollycoding-with-preview {
    .ch-scrollycoding-content {
      width: 50%;
      .ch-scrollycoding-step-content {
        width: 100%;
      }
    }
  }
}

.three-layout {
  padding: 0 30px;
}
