.mdx-render {
  width: 100%;
  min-height: 100%;
  .mesh {
    background: linear-gradient(to right, var(--mesh-bg) var(--mesh-width), transparent var(--mesh-width)),
      linear-gradient(to bottom, var(--mesh-bg) var(--mesh-width), transparent var(--mesh-width));
    background-repeat: repeat; /* 默认为 repeat */
    background-size: var(--mesh-size) var(--mesh-size);
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 26px - $i * 2px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #eaecef;
      font-family: LoveQueen, cursive;
      background: var(--header-bg);
      color: var(--header-color);
      background-clip: text;
    }
    h#{$i}::before {
      content: '$';
      margin-right: 10px;
      color: var(--link-color);
      font-weight: 300;
    }
  }
  blockquote {
    color: var(--blockquote-color);
    padding: 5px 23px;
    margin: 22px 0;
    border-left: 4px solid #5e7ce0;
    background-color: var(--blockquote-bg);
  }
  code.inline-code {
    background-color: var(--inline-code-bg);
    padding: 1px 5px;
    color: var(--inline-code-color);
    border-radius: 5px;
    display: inline-flex;
    font-size: 14px;
    font-family: var(--font-mono);
  }
  strong {
    color: var(--strong-color, inherit);
    background: var(--strong-bg, inherit);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: loveisqueen, fangsong;
    font-size: 1em;
  }
  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    // list-style-type: upper-roman;
  }
}

.toc-render {
  .toc {
    position: fixed;
    right: 2vw;
    top: 10vh;
    width: 16vw;
    z-index: 10;
    .toc-link-active {
      border-bottom: 1px solid #40ad41;
      color: #40ad41;
    }
    ol {
      list-style-type: none;
      padding-left: 10px;
      li {
        padding-left: 10px;
      }
    }
  }
}
