.mdx-render:has(.layout-refs) {
  --mesh-bg: rgba(255, 72, 72, 0.478);

  background-color: var(--background);
  color: #eee;
  height: fit-content !important;

  .layout-refs {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    section {
      position: relative;
      background-color: var(--section-bg);
      color: var(--text-color);
      border-radius: 10px;
      padding: 0 5px;
      margin: 5px;
      height: -moz-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      //   min-width: 20vw;
      //   max-width: 35vw;
      //   width: 20vw;
      //   max-width: 40vw;
      min-height: 15vh;
      h1,
      h2,
      h3 {
        border: 0;
        border-bottom: 1px solid #696969;
        display: flex;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        justify-content: flex-end;
        &::before {
          content: '';
        }
      }
    }
  }
}
