:root {

  /*** Colors ***/
  --background: #eee;
  --link-color: #40ad41;
  --text-color: #252b3a;

  /*** Mesh ***/
  --mesh-bg: #fa737322;
  --mesh-size: 30px;
  --mesh-width: 1px;

  /*** Fonts ***/
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /*** Markdown ***/
  --blockquote-color: #000000;
  --blockquote-bg: #dbdbdc;
  --inline-code-bg: #ffeeed;
  --inline-code-color: #c73636;
  --strong-bg: linear-gradient(to right, rgb(255, 154, 154), rgb(158, 158, 255));
  --strong-color: transparent;
  --header-bg: linear-gradient(to right, rgb(255, 154, 154), rgb(158, 158, 255));
  --header-color: transparent;

  /*** Section ***/

  --section-bg: #fff;

}

html[data-theme="dark"] , html.dark{
  --text-color: #fff;
  --background: #000;
  --section-bg: #252b3a;

  --blockquote-color: #f2f5fc;
  --blockquote-bg: #435071;

  
}

body {
  color: var(--text-color);
  background: var(--background);
}